button:focus {outline:0;}

.header {
  background-color: #5FA535;
  text-align: center;
  padding: 5px;
  height: 60px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  font-size: 1.5em;
}

.game-area {
  padding-top: 10px;
  margin: auto;
  width: 500px;
  perspective: 1000px;
}

.game-controls {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.button {
  background-color: #5FA535;
  font-size: 12px;
  color: white;
  width: 100px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.flip {
  transform: rotateY(180deg);
}

#boards {
  transition: all .4s ease-in-out;
  transform-style: preserve-3d;
}

.one, .two {
  backface-visibility: hidden;
  position: absolute;
	top: 0;
	left: -8px;
  width: 500px;
  height: 550px;
  border-width: 8px;
  border-style: solid;
  margin: auto;
  text-align: justify;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.one {
  z-index: 2;
  transform: rotateY(0deg);
}

.two {
  transform: rotateY(180deg);
}
